<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" id="counter">
      <div class="card">
        <h2>{{ title }}</h2>
        <div class="form-control">
          <input type="text" 
         :placeholder="placeholderString"
          :value="inputValue"
          @input="inputChangeHandler"
         @keypress.enter="addNote"/>
          <p v-if="fieldFlag">{{requireField}}</p>
        </div>
        <h3>Value: {{ inputValue }}</h3>
        <div class="btns">
          <button @click="addNote">Add</button>
        </div>
        <ul v-if="notes.length !== 0">
          <li v-for="(myNote, id) in notes">({{id}}){{ upperCase(myNote) }}
             <button v-on:click="removeNote(id)">delete</button></li>
          
        </ul>
        <p v-else>There is no note</p>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
